<div class="container-fluid">
    <div class="row logo-section">
        <div class="col-4 ">
            <div class="row logo-section-style">
                <div class="col-12">
                    <img src="../../assets/logo.png" alt="" width="120px">
                </div>
                <div class="col-12  col-md-4 ">
                    <div class="row network-section">
                        <div class="col-4 network-item">
                            <img src="../../assets/icons/networks/facebook.svg" alt="" width="18px">
                        </div>
                        <div class="col-4 network-item">
                                <img src="../../assets/icons/networks/youtube.svg" alt="" width="18px">
                        </div>
                        <div class="col-4 network-item">
                                <img src="../../assets/icons/networks/twitter.svg" alt="" width="18px">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-12  col-md-8">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="footer-title">Categoría 1</p>
                            <p class="footer-item">Opción 1</p>
                            <p class="footer-item">Osta es la opción 2</p>
                            <p class="footer-item">Opción 3</p>
                        </div>
                        <div class="col-12">
                            <p class="footer-title">Horario de atención</p>
                            <p class="footer-item">Lunes-Viernes: 8:00 a 20:00</p>
                            <p class="footer-item">Sábado y Domingos: 10:00 a 15:00</p>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-6 col-md-3">
                    <p class="footer-title">Tipos de casas</p>
                    <p class="footer-item">Casa 1</p>
                    <p class="footer-item">Casa 2</p>
                    <p class="footer-item">Casa 3 como opción</p>
                    <p class="footer-item">Casa 4</p>
                    <p class="footer-item">Casa opción 5</p>
                </div>
                <div class="col-6 col-md-3">
                    <p class="footer-title">Contacto</p>
                    <p class="footer-item">Llama al número</p>
                    <p class="footer-item-primary">52+ 5555 5555</p>
                    <p class="footer-item">Desde el exterior</p>
                    <p class="footer-item-primary">+1 888 888 8888</p>
                    <p class="footer-item">Email principal</p>
                    <p class="footer-item-primary">email@ara.com</p>
                    
                </div>
                <div class="col-6 col-md-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="footer-title">Servicios personales</p>
                            <p class="footer-item">En México</p>
                            <p class="footer-item-primary">52+ 5555 5555</p>
                        </div>
                        <div class="col-12">
                            <p class="footer-item">Email personal</p>
                            <p class="footer-item-primary">personal@email.com</p>
                        </div>
                        <div class="col-12">
                                <button class="btn btn-outline-success  my-2 my-sm-0 btn-footer-lg" type="submit">Quiero cotizar</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
       
    </div>

    <hr class="hr-syle">
    
    <div class="row footer-second-part">
        <div class="col-12 col-md-2">
            <img src="../../assets/icons/networks/whatsapp.svg" alt="" width="30px">
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <p class="footer-title-secondary">Parte final 1</p>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <p class="footer-title-secondary">Parte final 2</p>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <p class="footer-title-secondary">Parte final 2</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 btn-footer-small ">
                <button class="btn btn-outline-success  my-2 my-sm-0 btn-footer-sm" type="submit">
                <span><img src="../../assets/icons/networks/chat.svg" alt="" width="20px"></span> Ayuda</button>
        </div>
        
    </div>
</div>
