
.card{
    width: 100%;

}
.section-modules{
    margin: 3rem;
    margin-bottom: 3rem;
}

.modules-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.card-title{
    color: #F54301;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.card-text{
    color: #272C31;
    font-size: small;
}

.btn{
    color: #F54301;
    font-size: small;
    background-color: transparent;
    border: none;
    font-weight: bold;
}