<div class="container-fluid">

        <div class="background-header"></div>

        <div class="row credit-option-header">
            <div class="col-12">
                <button class="btn-return">
                    <span class="img-return"><img src="../../assets/icons/back.svg" alt="" width="15px" ></span>
                    Regresar
                </button>
            </div>
            <div class="col-12">
                <h5 class="title-color">Opciones de crédito</h5>
            </div>
           
        </div>

        
        
        <!-- This is the section for the first part of Credit Option -->
        <div class="row credit-option-section">
                <div class="col-12 col-sm-12 col-md-7 col-lg-8">
                    
                    <div class="row">
                        <div class="col-12">
                            <p class="subtitle-color">Su mejor inversión CASAS ARA</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <img class="main-img" src="../../assets/images/img-04.jpg" alt="" width="100%">
                        </div>
                    </div>
                    <div class="row description-img-section">
                        <div class="col-12">
                            <h6 class="title">Cuenta con ARA</h6>
                        </div>
                        <div class="col-12 subtitle-color">
                            <p>Este es un parrafo que se tiene que cambiar con uno de muestra porque no se entiende nada
                                en la imagen. Agarrar un parrafo X de internet que tenga el mismi volumen que el de la foto
                                para que se pueda adaptar al diseño y se vea muy parecido aunque no sea el mismo contenido
                            </p>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-outline-success btn-description my-2 my-sm-0 btn-description" type="submit">Solicitar promoción</button>
                        </div>
                    </div>
            
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                    
                    <div class="row">
                        <div class="col-12 information-section">
                            <div class="card" >
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <p class="card-title title-color">Información de contacto</p>
                                        </div>
                                        <div class="col-3">
                                            <img src="../../assets/ara-icon.png" alt="" width="30px">
                                        </div>
                                    </div>
                                    <p class="card-subtitle mb-2 text-muted">¿Tienes alguna duda? Podemos ayudarte.</p>
                                    <p class="card-note">COMUNICATE CON NOSOTROS</p>
                                    
                                    <p class="call-now">¡Llamanos ahora!</p>
                                   
                                    <button type="button" class="btn btn-dark btn-block btn-card">
                                        <span ><img class="call-icon" src="../../assets/icons/call-white.svg" alt="" width="22px"> 52+ 5555 5555</span>
                                    </button>
                                  
                                    <p   class=" btn-block btn-card option-card">
                                            <span ><img class="call-icon" src="../../assets/icons/calendar.svg" alt="" width="22px"> Lunes - Viernes: 8:00-20:00</span>
                                    </p>
                                    <p  class="btn-block btn-card option-card">
                                            <span ><img class="call-icon" src="../../assets/icons/clock.svg" alt="" width="22px"> Sábado-Domingo: 9:00-15:00</span>
                                    </p>
                                    <p class="card-normal-text">En el exterior</p>

                                    <button type="button" class="btn btn-block btn-card option-card">
                                        <span ><img class="call-icon" src="../../assets/icons/call.svg" alt="" width="22px"> 52+ 5555 5555</span>
                                    </button>

                                    <div class="row">
                                        <div class="col-12 information-section-btn">
                                            <button class="btn btn-outline-success  my-2 my-sm-0 btn-card-transparent" type="submit">Solicitar información</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
</div>


